<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JUNGLE RANKING</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        crossorigin="anonymous"></script>
        <style>
            .wrap{
                text-align: center;
            }
            .table{
              margin: 50px auto;
              width: 700px;
            }
           footer{
            width: 100%;
      height: 70px;
      position: absolute;  
      bottom: 0;
      left: 0;
           }
           .time_remain{
            margin: auto;
            text-align: center;
           }
        </style>
</head>
  <body>
    <form id="logout" action="/logout" method="POST">
    <div style="padding-left: 90%; margin: 30px;">
    <button class="button is-link is-outlined">로그아웃</button>
</div>
</form>

<div class="wrap">
<strong style="font-size: 30pt;">내 정보</strong>
</div>
<div class="time_remain">
 
  <strong>1등이 되려면 남은 시간 : {{ numberone }}</strong>

</div>
<table class="table">
  <thead>
    <tr>
      <th>날짜</th>
      <th>공부 시작시간</th>
      <th>공부 종료시간</th>
    </tr>
  </thead>
  <tfoot >
    <th>총 공부시간</th>
  
    <th>{{ total }}</th>
   
  </tfoot>
  <tbody>
    {% for i in range(mydata| length) %}
    <tr>
      <th>{{mydata[i]['date']}}</th>
      <td>{{mydata[i]['start']}}</td>
      <td>{{mydata[i]['end']}}</td>
    </tr>
    {% endfor %}
    
    <footer>
      <nav class="pagination is-centered" role="navigation" aria-label="pagination">
        <a class="pagination-previous">Previous</a>
        <a class="pagination-next">Next page</a>
        <ul class="pagination-list">
          <li><a href="/info" class="pagination-link" aria-label="Goto page 1">1</a></li>
          <li><a href="/page2" class="pagination-link" aria-label="Goto page 45">2</a></li>
          <li><a href="/page3" class="pagination-link is-current" aria-label="Page 46" aria-current="page">3</a></li>
          <li><a href="/page4" class="pagination-link" aria-label="Goto page 47">4</a></li>
          <li><a href="/page5" class="pagination-link" aria-label="Goto page 86">5</a></li>
        </ul>
      </nav>
    </footer>
    
  </body>
</html>